[submodule "external_tts/csm/csm"]
	path = external_tts/csm/csm
	url = https://github.com/SesameAILabs/csm.git
[submodule "external_tts/dia/dia"]
	path = external_tts/dia/dia
	url = https://github.com/nari-labs/dia.git
